/*
Copyright (C) 2019-2020 Aaron Erhardt

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#win
{
    position: absolute;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;

    background-color: #398277;
}

@media (orientation: portrait)
{
    #win .ferris
    {
        margin: 0;
    }

    #win .speech-balloon
    {
        margin: 0;
    }
}

@media (orientation: landscape)
{
    #win
    {
        display: block;
    }

    footer
    {
        position: absolute;
        bottom: 8%;

        width: 100%;

        text-align: center;
    }

    #win .ferris
    {
        top: 17%;
    }
}

input.target:checked ~ #win
{
    display: none;
}

.inline
{
    display: inline-block;

    width: auto;
    height: 1.4em;
    margin: 0 0 -.3em 0;
}

.large-inline
{
    display: inline-block;

    width: auto;
    height: 1.8em;
    margin: 0 0 -.4em 0;
}

#win a
{
    color: #001310;
    padding: 1rem;
    border-radius: 1rem;
    background-image: url("images/win_link_animation.svg");
    background-size: 100% 100%;
    background-color: #fff;
}
